<p>
  <%= form_tag planets_path, method: :get, id: 'searchBar' do %>
    <%= label_tag :query, "" %>
    <%= text_field_tag :query, "", placeholder: 'Search...', id: "query"  %>
    <%= submit_tag "Search", id: "searchButton" %>
  <% end %>
</p>
