<h2>Pick a destination</h2>

<ul class="planets-list">
  <% @planets.each do |planet| %>
    <div class="planet">
      <%= link_to planet.name, planet_path(planet) %>
    </div>
  <% end %>
</ul>

<% if !params[:query] %>
  <%= paginate @planets %>
<% end %>
