<h2>About Far, Far Away Travel</h2>

<div class="about">
  <p>Far, Far Away Travel was started by Maz Kanata in the hope that all beings could get to know each other, and themselves, better. Maz is no Jedi, but she knows the Force. She believes in the power of knowledge and understanding.</p>
</div>

<div class="about">
  <p>Maz still lives on Takodana, where she maintains a castle. This castle is a refuge for anyone looking for a drink or information. Go visit Maz's watering hole, but be wary.</p>
</div>
