<div class="cards">
  <div class="card">
    <div class="card-image">
      <img src="https://s3.amazonaws.com/far-far-away-prod/Coruscant.png">
    </div>
    <div class="card-header">
      <%= link_to "View Destinations", planets_path %>
    </div>
    <div class="card-copy">
      <p>Get a glimpse at all the amazing planets you can visit with Far, Far Away Travel. Find out if the climate is to your liking, if you speak the native language, and what to do while you're there!</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="https://s3.amazonaws.com/far-far-away-prod/Naboo.jpg">
    </div>
    <div class="card-header">
      Vacation Builder
    </div>
    <div class="card-copy">
      <p>Know you want a getaway, but have no clue where to go? We've got you covered. Answer a few questions and Far, Far Away will make some suggestions for your dream vacation!</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="https://s3.amazonaws.com/far-far-away-prod/Endor.jpg">
    </div>
    <div class="card-header">
      View Profile
    </div>
    <div class="card-copy">
      <p>Log in or create an account to save favorite destinations, places you'd like to go, and leave tips and tricks for other travelers!</p>
    </div>
  </div>
</div>
