@mixin flex-container-base($direction, $wrap) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: space-around;
  align-items: stretch;
}

@mixin flex-container-x($wrap) {
  @include flex-container-base(row, $wrap);
}
