.index {
  @include flex-container-x(nowrap);

  .left {
    @include flex-child-static(30%);
    text-align: left;

    ul {
      align-items: stretch;
    }

    .planet {
      padding: 5px;

      a {
        color: $white;
      }

    }
  }

  .right {
    @include flex-child-static(65%);
    padding-top: 15px;
    padding-right: 15px;
  }
}
