/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "modules/mixins";

$orange: #f8b195;
$pink: #f67280;
$mauve: #c06c84;
$purple: #6c5b7b;
$blue: #355c7d;
$grey: #d3d3d3;
$dark-grey: #bbbbbb;
$font-sans: "Copperplate", "Copperplate Gothic Light", sans-serif;
// $box: rgba(70, 20, 25, 0.3);
$white: #ffffff;
$black: #000000;
@font-face {
  font-family: 'distant_galaxyregular';
  src: font-url('DISTGRG_-webfont.eot');
  src: font-url('DISTGRG_-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('DISTGRG_-webfont.ttf') format('truetype'),
    font-url('DISTGRG_-webfont.svg#distant_galaxyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
$header-font: 'distant_galaxyregular';

html,
body {
  height: 100%;
  overflow: auto;
  width: 100%;
}

body {
  margin: 0;
  background: linear-gradient($orange, $pink, $mauve, $purple, $blue);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: $font-sans;

  div.layout-container {
    @include flex-container-y(nowrap);
    margin: 0 auto;
    width: 80%;

    @import "components/header";
  }

  div.yield {
    @include flex-container-y(wrap);
  }
}

h1 {
  color: $white;
  font-family: $header-font;
  font-size: 36pt;
  padding-left: 18px;
  text-shadow: 0 2px 4px rgba($black, 0.4);
}

h2 {
  color: $purple;
}

h3 {
  padding-left: 40px;
  padding-right: 40px;
}

.link {
  font-size: 14pt;

  a {
    color: darken($white, 15%);
  }

}

.static {
  @import "components/index";
  margin: 0 auto;
  width: 90%;
}

.container {
  @include card-background;
  @include flex-container-x(wrap);
  @include flex-container-y(nowrap);
  min-height: 175px;
  padding: 10px;
  text-align: center;
}

.field {
  padding: 5px;
  text-align: center;
}

.actions {
  padding: 5px;
  text-align: center;
}

.form {
  padding: 5px;
  text-align: center;
}

.pagination {
  padding-left: 10px;

  a {
    color: $white;

    &:hover {
      color: $pink;
    }

  }

  &:page.current {
    color: $orange;
  }

}

.home {
  @import "components/cards";
}

.show {
  margin: 0 auto;
  width: 90%;
  @import "components/show";
}

button,
input[type=submit],
input[type=type] {
  @include card-background;
}
